/* about page*/
.about_container {
  padding: 3.2rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title_label {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.content_description {
  width: 80%;
  display: inline-flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  margin-bottom: 4rem;
}
.team_section {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-left: 2%;
}
.name_status_label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatarImage {
  margin-bottom: 1rem;
}
.about_span {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 30px;
  text-align: center;
}
/* end of about page */

/* blood bank  */

.blood_bank_bg {
  padding: 3rem 9rem;
}
.search_bg {
  display: flex;
  flex-direction: column;
}
.search_content {
  /* width: 10rem; */
  position: relative;
  display: flex;
  flex-direction: column;
}

.input_blood_bank {
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding: 1rem 1.5rem 1rem 4rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  border: 2px solid var(--main-xlight-grey);
}
.search_btn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 0;
  cursor: pointer;
  color: var(--main-xlight-grey);
  height: 4rem;
  width: 4rem;
}
.adv_search_label {
  align-self: flex-end;
  margin-top: 1rem;
  color: var(--main-xlight-grey);
}

.filter_blood_bank_bg {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
}
.blood_bank_desc {
  width: 100%;
}

.filter_content {
  margin-right: 3rem;

  border-right: 3px solid #dfdcdc;
  padding-right: 8rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.input_label_content {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
  font-weight: 400;
  padding-left: 4%;
}
.checkbox_input {
  margin-right: 0.5rem;
  cursor: pointer;
}
.filter_label {
  font-size: 1.3rem;
  width: 120%;
  display: block;
}

.location_content {
  margin-top: 1rem;
}
.location_content,
.blood_content,
.rh_content {
  margin-bottom: 1rem;
}
.options_data {
  margin-top: 0.8rem;
}

/* end of blood bank  */

/*details   */

.details_container {
  padding: 3.2rem 5rem 5rem 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label_edit_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.hello_label {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2.3rem;
  border-bottom: 5px solid #dfdcdc;
}
.edit_btn {
  border: 1px solid var(--main-red);
  border-radius: 2px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: var(--main-white);
  cursor: pointer;
}
.blood_bank_details_container {
  display: flex;
  padding-top: 3rem;
  font-weight: bold;
}
.blood_bank_image_label_content {
  padding-right: 4rem;
  border-right: 3px solid #dfdcdc;
}
.avl_blood_types_content {
  font-weight: bold;
  margin-left: 2rem;
}
.avl_blood_types_data {
  margin-top: 2rem;
}
.data_pint_content {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
}
.blood_type_label {
  background-color: var(--main-red);
  color: var(--main-white);
  padding: 0.2rem;
  margin-right: 1.5rem;
  width: 3rem;
}
.facility_logo {
  width: 140px;
  height: 60px;
  margin-right: 2rem;
}
/*end of details section   */

/*volunteer list section*/
.volunteer_list_container {
  padding: 5rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  height: 100vh;
}
.volunteer_label {
  font-size: 2rem;
  border-bottom: 2px solid #e2402d;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

/*end of  volunteer list section*/

/* request blood section */
.requestBloodContainer {
  padding: 7rem 0 8rem 0;
  font-weight: bold;
  display: flex;
  display: 100%;
  justify-content: center;
}
.req_blood_icon_container,
.donate_blood_icon_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10rem;
}
.req_blood_label_content {
  display: flex;
  flex-direction: column;
}
.req_blood_label {
  background-color: var(--main-red);
  color: var(--main-white);
  font-size: 2rem;
  padding: 0.1rem;
  width: 67%;
  margin-bottom: 2rem;
}
.req_blood_icon {
  height: 16rem;
  width: 17rem;
  margin-top: 3rem;
}

.requestForm {
  display: flex;
  flex-direction: column;
}
.input_flex1,
.input_flex {
  display: flex;
  margin-bottom: 1.5rem;
}
.select_input_flex {
  display: flex;
  margin: 1.5rem 0 1.5rem 0;
}

.input_content,
.input_content1,
.input_content_first_name {
  background-color: #eeeeee;
  border: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  outline: none;
  font-weight: bold;
  border-radius: 2px;
}

.input_content_first_name {
  margin-right: 3rem;
}
.input_content1 {
  color: #818181;
  outline: none;
  cursor: pointer;
  width: 100%;
  /* margin-right: 3rem; */
}
.request_btn {
  border: none;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--main-white);
  background-color: var(--main-red);
  border-radius: 2px;
  cursor: pointer;
}
/* end request blood section */

/* donate section */

.donate_blood_icon {
  margin-top: 2rem;
  height: 12rem;
  width: 20rem;
}
.donate_blood_icon1 {
  margin-top: 2rem;
  height: 14rem;
  width: 15rem;
}

.donate_desc_label {
  margin-top: 4rem;
  font-size: 2.2rem;
  height: 100%;
  width: 100%;
}

.donate_blood_icon_container {
  width: 20rem;
}
.primary_label_color {
  color: var(--main-red);
}

.join_us_label {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  width: 55%;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--main-red);
}
.filter_title {
  font-size: 1.5rem;
}
.options_filters {
  font-size: 0.2rem;
}

/* end of  donate section */
@media screen and (max-width: 1115px) {
  .requestBloodContainer {
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media screen and (max-width: 900px) {
  .requestBloodContainer {
    /* padding: 5rem 8rem; */
    padding: 5rem 2rem 4rem 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }

  .donate_blood_icon_container {
    align-items: center;
    margin-bottom: 3rem;
  }

  .donate_desc_label {
    padding-left: 2rem;
  }
  .input_flex1 {
    display: inline-flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .input_content_first_name {
    margin-right: 0;
  }
  .about_container {
    padding: 3.2rem 1rem 5rem 1rem;
  }

  .team_section {
    display: inline-flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .volunteer_list_container {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    height: 100vh;
  }
  .req_blood_icon_container {
    width: 100%;
  }

  .req_blood_label {
    font-size: 1.5rem;
    display: inline;
    padding: 0.5rem 0 0.5rem 1.5rem;
  }
  .req_blood_icon {
    height: 13rem;
    width: 14rem;
    align-self: center;
    margin-bottom: 3.5rem;
  }
  .donate_blood_icon {
    height: 10rem;
    width: 18rem;
  }
  .donate_desc_label {
    font-size: 1.9rem;
  }
  .blood_bank_bg {
    padding: 3rem 2rem;
  }
  .filter_content {
    margin-right: 1rem;

    border-right: 3px solid #dfdcdc;
    padding-right: 1.3rem;
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  .filter_title {
    font-size: 1rem;
  }
  .filter_label {
    font-size: 0.8rem;
  }
  .options_filters {
    font-size: 0.6rem;
  }

  .input_label_content {
    font-size: 0.7rem;
    padding-left: 4%;
  }
  .checkbox_input {
    margin-right: 0.2rem;
  }
  .details_container {
    padding: 3.2rem 5rem 5rem 5rem;
  }
  .blood_bank_image_label_content {
    padding-right: 0;
  }
  .avl_blood_types_content {
    font-weight: bold;
    margin-left: 1rem;
  }
  .blood_type_label {
    margin-right: 1rem;
    width: 4rem;
  }
  .hello_label {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .label_edit_container {
    width: 120%;
  }
}
