@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --main-white: #ffffff;
  --main-black: #000000;
  --main-red: #e2402d;
  --main-grey: #e2e2e2;
  --main-grey-lite: #f3f3f3;
  --main-p-grey: #545454;
  --main-plain-grey: #808080;
  --main-avl-grey: #474747;
  --main-secondary-white: #f3f3f3;
  --main-xlight-grey: #6b6a6a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--main-purple);
}

html,
body {
  font-family: "Lato", sans-serif;
  /* overflow-x: hidden; */
}

/* override table styling */
/* .rdt_TableBody { */
/* padding-left: 54rem; */
/* font-weight: bold;
  font-size: large; */
/* } */
/* .rdt_Table { */
/* padding: 10rem; */
/* font-weight: bold; */
/* border: none; */
/* font-size: 10rem; */
/* } */
/* .dApqnJ {
  font-weight: bold;
  font-size: 10rem;
} */
