.containerBg {
  display: flex;
  flex-direction: row;
  padding-left: 6rem;
}
.container_parent {
  overflow-x: hidden;
}
.contentBg {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
.p_dirgahyu {
  color: var(--main-p-grey);
  font-size: 2rem;
}
.title_dirgahyu {
  font-family: "Raleway", sans-serif !important;
  font-size: 3rem;
}
.span_dirgahyu {
  color: var(--main-red);
}
.bannerBtn {
  margin-top: 2rem;
  display: flex;
}
.banner_title {
  display: flex;
  flex-direction: column;
}
.clipPathBg {
  flex: 1;
}
.dirgahyuImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bannerlinks_bg {
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
}
.blood_bank_req_link {
  display: flex;
  align-items: center;
  margin-right: 15%;
}

.nv_link {
  text-decoration: none;
  margin-right: 15%;
}
.icon {
  fill: var(--main-red);
  /* margin-right: 0.5rem; */
}
.search_content {
  margin-top: 2.5rem;
}
.search_label {
  font-weight: bold;
  font-size: 1.1rem;
}
.blood_bank_req_label {
  font-weight: 600;
  font-size: 1.1rem;
}
.options_content {
  margin-right: 15%;
}
.options_search_content {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}
.req_donate_btn {
  border: none;
  font-family: "Raleway", sans-serif !important;
  padding: 7px 20px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--main-white);
  margin-right: 15%;
  background-color: var(--main-red);
}
.search_btn {
  border: none;
  padding: 8px;

  background-color: var(--main-grey);
  cursor: pointer;
  font-weight: bold;
}
.select_comp {
  margin-right: 1rem;
  border: none;
  background-color: var(--main-grey);
  padding: 6px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}
.facilities_container_bg {
  padding-top: 3rem;
  display: flex;
  padding-left: 6rem;

  flex-direction: row;
}
.facilites_section {
  flex: 1;
}
.facility_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border: 0.2px solid var(--main-plain-grey);
  border-radius: 5px;
  font-weight: 600;
}

.facility_logo {
  width: 120px;
  height: 40px;
  margin-right: 2rem;
}
.image_name_desc {
  display: flex;
}
.name_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name_bloodtype_label {
  margin-bottom: 10px;
  font-size: 1.26rem;
}
.address_container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3px;
  align-items: center;
}
.address_label {
  font-size: 0.9rem;
}
.blood_types {
  display: flex;

  width: 100%;
  justify-content: space-between;
}

.blood_type_label {
  background-color: var(--main-red);
  color: var(--main-white);
  padding: 0 6px 3px 6px;
}

.availability_section {
  flex: 0.6;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.avl_label {
  color: var(--main-avl-grey);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif !important;
  width: 40%;
}
.avl_arrow_icon {
  font-size: 3.5rem;
  color: var(--main-red);
}

.donate_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: var(--main-red);
  padding: 2rem 6rem 2rem 5rem;
  color: var(--main-white);
  letter-spacing: 1px;
}
.donate_blood_btn {
  border: none;
  background-color: var(--main-white);
  cursor: pointer;
  color: var(--main-red);
  font-weight: bold;
  /* text-transform: uppercase; */
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif !important;
}

@media screen and (max-width: 1000px) {
  .containerBg {
    display: flex;
    flex-direction: column;
  }
  .clipPathBg {
    display: none;
  }
  .facilities_container_bg {
    padding: 3rem;
    display: flex;
    padding-left: 6rem;
    flex-direction: column;
  }
}
@media screen and (max-width: 670px) {
  .containerBg {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }
  .clipPathBg {
    display: none;
  }
  .bannerlinks_bg {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    align-items: flex-start;
  }
  .req_donate_btn {
    border: none;
    font-family: "Raleway", sans-serif !important;
    padding: 7px 20px;
    font-weight: 600;
    font-size: 1rem;
    color: var(--main-white);
    margin-right: 15%;
    background-color: var(--main-red);
  }
  .blood_bank_req_link {
    padding-top: 1rem;
  }
  .search_content {
    padding-right: 3rem;
  }
  .facilities_container_bg {
    padding-top: 3rem;
    display: flex;
    padding-left: 2rem;

    /* flex-direction: row; */
  }
  .facility_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image_name_desc,
  .facility_logo {
    margin-bottom: 2rem;
  }
  .image_name_desc,
  .donate_container {
    flex-direction: column;
  }
  .donate_container {
    align-items: center;
  }
  .donate_blood_btn {
    margin-top: 2rem;
  }
  .availability_section {
    margin: 2rem 0;
  }
  .avl_label {
    margin-right: 1.5rem;
  }
  .donate_label {
    text-align: center;
  }
  .title_dirgahyu {
    font-size: 2.5rem;
  }
  .p_dirgahyu {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .options_search_content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: flex-start;
    width: 100%;
  }

  .options_content {
    display: inline-flex;
    gap: 1rem;
    flex-direction: column;
    margin-right: 0;
    width: 100%;
  }
  .search_btn {
    margin-top: 1rem;
    width: 95%;
  }
  .search_content {
    padding-right: 1.5rem;
  }
}
