.containerBg {
  display: flex;
  flex-direction: row;
  padding-left: 6rem;
}
.container_parent {
  overflow-x: hidden;
}
.contentBg {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  padding-top: 5rem;
}
.p_dirgahyu {
  color: var(--main-p-grey);
  font-size: 2rem;
}
.title_dirgahyu {
  font-family: "Raleway", sans-serif !important;
  /* font-size: 50px; */
  font-size: 3rem;
}
.span_dirgahyu {
  color: var(--main-red);
}
.bannerBtn {
  margin-top: 2rem;
  display: flex;
}
.banner_title {
  display: flex;
  flex-direction: column;
}
.clipPathBg {
  flex: 1;
}
.dirgahyuImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* .req_donate_btn {
  border: none;
  font-family: "Raleway", sans-serif !important;
  padding: 7px 20px;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--main-white);
  margin-right: 15%;
  background-color: var(--main-red);
} */

.bannerlinks_bg {
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
}
.blood_bank_req_link {
  display: flex;
  align-items: center;
  margin-right: 15%;
}

.nv_link {
  text-decoration: none;
  margin-right: 15%;
}
.icon {
  fill: var(--main-red);
  /* margin-right: 0.5rem; */
}
.search_content {
  margin-top: 2.5rem;
}
.search_label {
  font-weight: bold;
  font-size: 1.1rem;
}
.blood_bank_req_label {
  font-weight: 600;
  font-size: 1.1rem;
}
.options_content {
  margin-right: 15%;
}
.options_search_content {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}
.req_donate_btn {
  border: none;
  font-family: "Raleway", sans-serif !important;
  padding: 7px 20px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--main-white);
  margin-right: 15%;
  background-color: var(--main-red);
}
.search_btn {
  border: none;
  /* padding: 0.2rem 0.4rem; */
  padding: 8px;

  background-color: var(--main-grey);
  cursor: pointer;
  font-weight: bold;
}
.select_comp {
  margin-right: 1rem;
  border: none;
  background-color: var(--main-grey);
  padding: 6px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}
.facilities_container_bg {
  padding-top: 3rem;
  display: flex;
  padding-left: 6rem;
  /* overflow-x: hidden; */

  flex-direction: row;
}
.facilites_section {
  flex: 1;
  /* border-style: solid; */
}
.facility_content {
  /* border-style: solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border: 0.2px solid var(--main-plain-grey);
  border-radius: 5px;
  font-weight: 600;
}

.facility_logo {
  /* height: 5rem;
  width: 6rem; */
  width: 120px;
  height: 40px;
  margin-right: 2rem;
}
.image_name_desc {
  display: flex;
}
.name_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name_bloodtype_label {
  margin-bottom: 10px;
  font-size: 1.26rem;
}
.address_container {
  /* display: flex; */
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3px;
  align-items: center;
}
.address_label {
  /* font-weight: 400; */
  font-size: 0.9rem;
}
.blood_types {
  display: flex;
  /* display: inline-flex;
  gap: 10px; */
  width: 100%;
  justify-content: space-between;
}

.blood_type_label {
  background-color: var(--main-red);
  color: var(--main-white);
  padding: 0 6px 3px 6px;
}

.availability_section {
  flex: 0.6;
  /* padding-left: 5%; */
  display: inline-flex;
  /* gap: 0.1rem; */
  justify-content: center;
  align-items: center;
}
.avl_label {
  color: var(--main-avl-grey);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif !important;
  width: 40%;
}
.avl_arrow_icon {
  font-size: 3.5rem;
  color: var(--main-red);
}

.donate_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: var(--main-red);
  padding: 2rem 6rem 2rem 5rem;
  color: var(--main-white);
  letter-spacing: 1px;
}
.donate_blood_btn {
  border: none;
  background-color: var(--main-white);
  color: var(--main-red);
  font-weight: bold;
  /* text-transform: uppercase; */
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif !important;
}
