.test {
  position: relative;
}
.navBar {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  justify-content: space-between;
  color: var(--main-white);
}
.navSection {
  padding: 1rem 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  position: relative;
  z-index: 1;
  font-size: large;
  min-height: 5rem;
}

.navSection::after {
  display: block;
  content: "";
  background-color: var(--main-red);
  position: absolute;
  transform: skew(30deg);
  width: 130%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  border-bottom-left-radius: 2px;
}
.logoImg {
  margin: 0.5rem 9rem 0.5rem 1rem;
  height: 9vh;
  width: 9vh;
}
.nav_ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.listItem,
.listItem1 {
  margin: 0 2rem;
  float: left;
  position: relative;

  cursor: pointer;
  text-decoration: none;
}
.listItem1 {
  display: none;
}

.nextLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* width: 100%; */
}

.loginbtndiv {
  display: flex;
  align-items: center;
}
.LogInBtn {
  padding: 0 15px 0 0;
  font-weight: 900;
  cursor: pointer;

  outline: none;
}
.icon {
  margin-right: 0.5rem;
  cursor: pointer;
}
.nav_icon {
  display: none;
}
.nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav_ul_active {
  list-style: none;
}
.login_hamburger {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .nav_ul {
    display: none;
  }
  .nav_icon {
    display: block;
  }
  .loginbtndiv {
    display: none;
  }
  .nav_ul_active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    list-style: none;
    width: 150vw;
    height: 100vh;
    padding-bottom: 5rem;
    top: 100%;
    left: -70%;
    background-color: var(--main-white);
    color: #000;
    z-index: 3;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .listItem1 {
    display: block;
  }

  .login_hamburger {
    position: absolute;
    right: 70px;
  }
  .logoImg {
    margin-right: 5rem;
  }
}

@media screen and (max-width: 670px) {
  .nav_ul_active {
    left: -110%;
  }
  .navBar {
    margin-left: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .nav_ul_active {
    left: -130%;
  }
  .login_hamburger {
    right: 35px;
  }
}
